:root {
  --eku-space-1: 0.25rem;
  --eku-space-2: 0.5rem;
  --eku-space-3: 0.75rem;
  --eku-space-4: 1rem;
  --eku-space-5: 1.5rem;
  --eku-space-6: 2rem;
  --eku-nav-width: 16rem;
  --eku-touch: 2.75rem;
}
